
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f8f8f8;
    font-family: Arial, sans-serif;
}

.container {
    background-color: #fff;
    width: 520px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.logo {
    margin-bottom: 20px;
}

.logo img {
    width: 150px;
}

.form-container {
    margin-top: 20px;
}

.tabs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.tab {
    background-color: #eaeaea;
    border: none;
    padding: 10px;
    flex: 1;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 5px;
    transition: background-color 0.3s;
}

.tab.active {
    background-color: #dbe4f0;
    color: #333;
}

.tab:last-child {
    margin-right: 0;
}

form {
    text-align: left;
}

.para {
font-size: smaller;
text-align: left;
margin-bottom: 20px;
margin-left: 5px;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #555;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ddd;
    outline: none;
}

input:focus {
    border-color: #007bff;
}

.login-btn {
    background-color: #003366;
    color: #fff;
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-btn:hover {
    background-color: #00509e;
}